
# main agent configurations
API_KEY=""
API_BASE="https://openrouter.ai/api/v1"
MODEL_NAME = "anthropic/claude-sonnet-4.5"
MODEL_PROVIDER = "openrouter"
REASONING_MODEL_NAME = "o3" # use o3 for reasoning. only support openAI models now.


# common API keys
OPENAI_API_KEY=""
OPENAI_BASE_URL="https://api.openai.com/v1"
GEMINI_API_KEY=""
OPENROUTER_API_KEY=""
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"


# third party API keys
SERPER_API_KEY=""
JINA_API_KEY=""
E2B_API_KEY = ""
E2B_TEMPLATE_ID = "7nj6zr8212e5zjcd8627"
# perplexity
PERPLEXITY_API_KEY = ""
PPLX_API_URL = "https://api.perplexity.ai/chat/completions"
PPLX_MODEL = "sonar-pro"


HTTPS_PROXY=""
DATA_DIR="data"
CHROME_PATH = ""
CHROME_USER_PROFILE_DIR = ""

